{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier"],
    "root": true,
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "rules": {
        "no-param-reassign": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}
